@font-face {
  font-family: "Inter";
  src: url("/city-template/public/assets/fonts/Inter.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--text-color);
  line-height: normal;
}

h1 {
  font-family: var(--font-extrabold);
  font-weight: var(--weight-extrabold);
  font-size: 3rem;
  color: var(--text-color);
  line-height: 110%;
}

h2 {
  font-family: var(--font-extrabold);
  font-weight: var(--weight-extrabold);
  font-size: 2.5rem;
  color: var(--text-color-dark);
  line-height: 110%;
}

h3 {
  font-family: var(--font-semibold);
  font-weight: var(--weight-semibold);
  font-size: 1.5rem;
  color: var(--text-color-dark);
  line-height: 110%;
}

a {
  color: var(--link);
  text-decoration: none;
}

p {
  word-break: keep-all;
  overflow-wrap: break-word;
}

/* Buttons */

.btn-primary,
.btn-secondary {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
  font-size: 1rem;
  line-height: 120%;
}

.btn-primary {
  color: var(--btn-text-color-default-primary);
}

.btn-primary:disabled {
  color: var(--btn-text-color-disable-primary);
}

.btn-secondary {
  color: var(--btn-text-color-default-secondary);
}

.btn-secondary:disabled {
  color: var(--btn-text-color-disable-secondary);
}

.btn-secondary.black {
  color: var(--btn-text-color-default-secondary-black);
}

.btn-secondary.black:disabled {
  color: var(--btn-text-color-disable-secondary-black);
}

.toggle-btn {
  font-family: var(--font-semibold);
  font-weight: var(--weight-semibold);
  font-size: 1rem;
  color: var(--text-color);
}

.toggle-btn:disabled {
  color: var(--toggle-btn-disable);
}

.location button {
  font-family: var(--font-semibold);
  font-weight: var(--weight-semibold);
  font-size: 1.25rem;
  color: var(--secondary-color);
  line-height: 130%;
  text-decoration: underline dotted;
  text-underline-offset: 4px;
}

.location button:active .path-fill {
  fill: var(--contact-info-click);
  stroke: var(--contact-info-click);
}

.location button.disabled .path-fill {
  fill: var(--contact-info-disable);
  stroke: var(--contact-info-disable);

  cursor: not-allowed;
}

.location button.disabled .path-stroke {
  stroke: var(--contact-info-click);
}

.location button:not(.disabled):hover {
  text-decoration: none;
}

.location button:active {
  color: var(--contact-info-click);
  text-decoration: none;
}

.location button.disabled {
  color: var(--contact-info-disable);
  text-decoration: none;

  cursor: not-allowed;
}

.btn-control {
  font-family: var(--font-extrabold);
  font-weight: var(--weight-extrabold);
  font-size: 1rem;
  text-wrap: nowrap;
  color: var(--primary-color);
  line-height: 120%;
}

.btn-control.active {
  color: var(--btn-control-choosed);
}

/* Header */

.header {
  color: var(--text-color);
}

.logo-container-text {
  font-family: var(--font-regular);
  font-weight: var(--weight-regular);
  font-size: 0.625rem;
}

.company-name {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
  font-size: 1rem;
}

.phone-link {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
  line-height: 130%;
}

.email-link {
  font-family: var(--font-medium);
  font-weight: var(--weight-medium);
  font-size: 1rem;
  line-height: 130%;
}

.text-block p {
  font-size: 1.25rem;
}

/* Transport */

.transport {
  color: var(--text-color-dark);
}

.passenger-amount,
.luggage-amount {
  font-size: 1.25rem;
}

.transport-quality {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
  line-height: 110%;
}

.transport-description {
  line-height: 120%;
}

.transport-price {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
  font-size: 2rem;
  line-height: 110%;
  text-wrap: nowrap;
}

.transport-price span:first-child {
  font-family: var(--font-extrabold);
  font-weight: var(--weight-extrabold);
  font-size: 1.25rem;
  line-height: 110%;
}

/* Call to action */

.call-to-action {
  color: var(--text-color-dark);
  text-align: center;
}

.call-to-action-text p {
  font-size: 1.25rem;
  line-height: 120%;
}

/* Additional services */

.additional-services-slider {
  color: var(--text-color);
}

.services-slide-content h2 {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
  color: #BDBDBD;
}

.service-slide-text h3 {
  font-family: var(--font-extrabold);
  font-weight: var(--weight-extrabold);
  font-size: 2.25rem;
  color: var(--text-color);
}

.service-slide-text p {
  font-size: 1.25rem;
}

.additional-services-wrapper {
  color: var(--text-color-dark);
}

.aircraft-rental-wrapper h3,
.helicopter-rental-wrapper h3 {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
}

.vip-flight-wrapper h3 {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
  color: var(--text-color);
}

.vip-flight-img-text {
  font-family: var(--font-black);
  font-weight: var(--weight-black);
  font-size: 17rem;
  color: #252525;
  text-align: center;
  text-wrap: nowrap;
  line-height: 110%;
}

/* About company */

.about-company-text,
.about-company-text h3 {
  color: var(--secondary-color);
}

.about-company-awards-slider,
.about-company-awards-glide h3 {
  color: var(--primary-color);
}

.about-company-text h3,
.about-company-awards-glide h3 {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
}

.about-company-text p {
  line-height: 130%;
}

.highlight-number,
.highlight-symbol {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
  font-size: 6rem;
  line-height: 110%;
}

.advantage-item p {
  font-family: var(--font-medium);
  font-weight: var(--weight-medium);
  font-size: 1.5rem;
}

.awards-slider-content a {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
  font-size: 1.25rem;
  line-height: 130%;
  color: var(--text-color-dark);
  text-decoration: underline dotted;
  text-underline-offset: 3.5px;
}

.awards-slider-content a:hover {
  text-decoration: none;

  transition: text-decoration 0.4s ease;
}

.awards-slider-content p {
  line-height: 110%;
}

/* Footer */

.footer {
  font-family: var(--font-regular);
  font-weight: var(--weight-regular);
  font-size: 1.25rem;
  color: var(--text-color-dark);
}

.contacts h3,
.feedback h3,
.schedule h3,
.be-our-partner h3 {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
  line-height: 110%;
}

.contacts a,
.feedback a,
.social-media-links a {
  color: var(--text-color-dark);
  line-height: 130%;
}

.schedule p {
  line-height: 130%;
}

.number,
.content {
  text-wrap: nowrap;
}

.number,
.feedback-link {
  font-family: var(--font-semibold);
  font-weight: var(--weight-semibold);
  line-height: 130%;
}

.content,
.social-media-link {
  text-decoration: underline;
  text-underline-offset: 3.5px;
  line-height: 130%;
}

.content:hover,
.social-media-link:hover {
  text-decoration: none;
}

.company-link {
  font-family: var(--font-regular);
  font-weight: var(--weight-regular);
  font-size: 1.5rem;
  color: var(--prymary-color);
}

.company-link:hover {
  font-family: var(--font-bold);
  font-weight: var(--weight-bold);
}

.design-by {
  font-family: var(--font-regular);
  font-weight: var(--weight-regular);
  font-size: 1.25rem;
  line-height: 130%;
}

.special-symbols svg {
  vertical-align: middle;
}