.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.4);

  width: 100%;
  height: 100%;

  z-index: 4;
}

.modal.fade-in {
  animation: fadeIn 0.5s forwards;
}

.modal.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: #ffffff;

  max-width: 668px;
  width: 100%;
  padding: 2.5rem;
  border-radius: 1.5rem;

  animation: slideIn 0.5s;
  transform: translate(-50%, -50%);
}

.modal-container:has(.calculator-form) {
  max-width: 847px;
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.modal-content.slide-out {
  animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
}

.modal-container h4 {
  margin-bottom: 2rem;
}

.close-icon {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;

  background-color: transparent;

  border: none;

  cursor: pointer;
}

.calculator-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  margin-bottom: 3rem;
}

.calculator-form button {
  flex: 1 1 100%;
  align-self: center;
}

.reply-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  margin-bottom: 2rem;
}

.modal-container > .calculator-form {
  margin-bottom: 2rem;
}

.modal-container .personal-data-processing {
  max-width: 400px;
}

/* Choose city modal */

.modal-container.choose-city-modal {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  max-width: 289px;
  width: 100%;
  padding: 2rem 1rem 2rem 1rem;
}

.modal-container.choose-city-modal h4 {
  max-width: 230px;
  width: 100%;
  margin-bottom: 0;
}

.modal-container.choose-city-modal .close-icon {
  top: 2rem;
  right: 1rem;
}

.city-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.check-mark-color {
  transition: stroke 0.3s ease-out;
}

@media (max-width: 900px) {
  .modal-container:has(.calculator-form) {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .modal-container {
    max-width: 580px;
  }

  .modal-container:has(.calculator-form) {
    max-width: 580px;
  }
}

@media (max-width: 622px) {
  .modal-container {
    max-width: 400px;
  }

  .modal-container:has(.calculator-form) h4 {
    max-width: 250px;
  }

  .modal-container:has(.calculator-form) {
    max-width: 400px;
  }
}

@media (max-width: 420px) {
  .modal-container {
    max-width: 289px;
    padding: 2rem 1rem 2rem 1rem;
  }

  .modal-container h4,
  .modal-container:has(.calculator-form) h4 {
    max-width: 233px;
  }

  .modal-container:has(.calculator-form) {
    max-width: 289px;
  }

  .close-icon {
    top: 2rem;
    right: 1rem;
  }
}
